.mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 32, 44, 0.6);
  display: flex;
  flex-direction: column;
  transition: .2s;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}

.mask.show {
  visibility: visible;
  opacity: 1;
}

/* dialog */
.dialog-content {
  box-sizing: border-box;
  width: 280px;
  background: #fff;
  margin: auto;
  border-radius: 8px;
  padding: 24px 16px 16px;
  transition: .2s;
  transform: translateY(10px);
}

.dialog.show .dialog-content {
  transform: translateY(0);
}

.dialog-title {
  font-size: 16px;
  line-height: 20px;
  color: rgba(33, 32, 44, 0.9);
}

.dialog-msg {
  font-size: 14px;
  line-height: 20px;
  color: rgba(33, 32, 44, 0.55);
  padding: 8px 0 24px;
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
}

.dialog-footer button {
  font-size: 14px;
  line-height: 20px;
  padding: 8px;
  margin-left: 16px;
  border: 0;
  background: none;
  color: rgba(33, 32, 44, 0.55);
  outline: 0;
}

.dialog-footer .dialog-btn_confirm {
  color: var(--ui-primary);
}