---
layout: default
---

{% assign assets_base_url = site.url %} {% if site.cdn.jsdelivr.enabled %} {%
assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append:
site.repository | append: "@" | append: site.repository_branch %} {% endif %}
<section
  class="collection-head small geopattern"
  data-pattern-id="{{ page.title | truncate: 15, ''}}"
>
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            {% if page.date %}
            <span class="meta-info">
              <span class="octicon octicon-calendar"></span> {{ page.date |
              date: "%Y/%m/%d" }}
            </span>
            {% endif %} {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}"
                >{{ cat }}</a
              >
            </span>
            {% endfor %} {% if site.word_count.enabled %}
            <span class="meta-info">
              <span class="octicon octicon-clock"></span>
              共 {{ page.content | strip_html | strip_newlines | remove: " " |
              size }} 字，约 {{ page.content | strip_html | strip_newlines |
              remove: " " | size | divided_by: 350 | plus: 1 }} 分钟
            </span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="column one-fourth mobile-hidden">
        <div class="collection-title">{% include sidebar-qrcode.html %}</div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths">
      {% include content-header-ad.html %}
      <article class="article-content markdown-body">{{ content }}</article>
      <div style="padding-top: 20px">
        <hr />

        <p>
          在技术的历史长河中，虽然我们素未谋面，却已相识已久，很微妙也很知足。互联网让世界变得更小，你我之间更近。
        </p>
        <p>
          在逝去的青葱岁月中，虽然我们未曾相遇，却共同经历着一样的情愫。谁的青春不曾迷茫或焦虑亦是无奈，谁不曾年少过
        </p>
        <p>
          在未来的日子里，让我们共享好的文章，共同学习进步。有不错的文章记得分享给我，我不会写好的文章，所以我只能做一个搬运工
        </p>
        <p>
          我叫
          <a href="https://github.com/sunseekers">sunseekers(张敏)</a>
          ，千千万万个张敏与你同在，18年电子商务专业毕业，毕业后在前端搬砖
        </p>
        <p>
          如果喜欢我的话，恰巧我也喜欢你的话，让我们手拉手，肩并肩共同前行，相互学习，互相鼓励
        </p>
      </div>
      <div>{% include copyright.html %}</div>
      <div class="share">{% include sns-share.html %}</div>
      {% include content-footer-ad.html %}
      <div class="comment">{% include comments.html %}</div>
    </div>
    <div class="column one-fourth">
      {% include sidebar-search.html %} {% include sidebar-post-nav.html %}
    </div>
  </div>
</section>
<!-- /section.content -->
