---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
  <div class="container">
    <div class="columns">
      <div class="column three-fourths">
        <div class="collection-title">
          <h1 class="collection-header">{{ page.title }}</h1>
          <div class="collection-info">
            {% if page.date %}
            <span class="meta-info">
              <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
            </span>
            {% endif %}
            {% for cat in page.categories %}
            <span class="meta-info">
              <span class="octicon octicon-file-directory"></span>
              <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
            </span>
            {% if site.leancloud.enable %}
            <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ page.title }}">
              <span class="post-meta-divider">|</span>
              <span class="post-meta-item-text"> Hits: </span>
              <span class="leancloud-visitors-count"></span>
            </span>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / .banner -->
<section class="container content">
  <div class="columns">
    <div class="column three-fourths">
      <article class="article-content markdown-body">
        {{ content }}
      </article>
      <!--<img src="/images/life/004.jpeg" width="25%" height="25%" style="vertical-align:middle;margin-left: 30%"/>-->
      <div style="padding-top:20px;">
        <hr />

        <p>有时候，虽然素未谋面。却已相识很久，很微妙也很知足。在逝去的岁月里，我们在某一刻，共同经历着一样的情愫。</p>

        <p>如果喜欢我的话，我们可以互相关注，相互学习的哟！互相鼓励，你的关注是我最大的动力来源</p>

        <a href="https://github.com/sunseekers">sunseekers</a>

      </div>
      <div class="share">
        {% include sns-share.html %}
      </div>
      <div class="comment">
        {% include comments.html %}
      </div>
    </div>
    <div class="column one-fourth">
      {% include sidebar-search.html %}
      {% include sidebar-qrcode.html %}
      {% include sidebar-post-nav.html %}
    </div>
  </div>
</section>
<!-- /section.content -->